:root {
    --color-primary: #063900;
    --color-secondary: #4ca66e;
    --color-ternary: #e3e5d9;
    --color-quaternary: #071800;
    --font-primary: 'Roboto Serif', serif;
}

html, 
body {
    font-size: 16px;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-quaternary);
    color: var(--color-ternary);
    font-family: var(--font-primary);
}

.container {
    padding: 0 2rem;
}

.word-bold {
    font-weight: bold;
}

.subtitle {
    margin: 3rem 0;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-secondary);
}

.chemical-element-white {
    color: var(--color-ternary);
}

.header .front-cover {
    width: 100%;
}

.header .title-main {
    text-align: center;
    padding: 8rem 0 5rem;
}

.header .title-main div h1 {
    box-sizing: border-box;
    color: var(--color-ternary);
    font-size: 4rem;
}

.header .title-main div h1 .breaking,
.header .title-main div h1 .bad {
    display: block;
    background-color: var(--color-quaternary);
    border-radius: 1rem;
}

.header .title-main div h1 .bad {
    display: inline-block;
    margin-left: 3.8rem;
}

.header .title-main div h1 .breaking .br,
.header .title-main div h1 .bad .ba {
    display: inline-block;
    width: 7rem;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-ternary);
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.header nav {
    background-color: var(--color-primary);
    transition: 400ms all;
    position: fixed;
    width: 100%;
}

.header nav:hover {
    background-color: var(--color-ternary);
}

.header nav .hamburger,
.header nav .menu-mobile {
    display: none;
}

.header nav:hover ul.menu li a {
    color: var(--color-quaternary);
}

.header nav ul.menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.header nav ul.menu li {
    margin: 1rem;
}

.header nav ul.menu li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-ternary);
    height: 100%;
    letter-spacing: 2px;
}

.header nav ul.menu li a:hover {
    text-decoration: underline;
    color: var(--color-primary);
}

.header nav ul.menu li a .chemical-element {
    color: var(--color-secondary);
}

.about-the-serie p {
    font-size: 1.5rem;
    text-align: center;
}

.about-the-serie .summary {
    margin-bottom: 5rem;
}

.about-the-serie .other-information {
    margin-bottom: 1rem;
}

.about-the-serie .other-information span {
    color: var(--color-secondary);
}

.main-characters div.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-characters .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    background-color: var(--color-quaternary);
    color: var(--color-ternary);
    padding: 0.5rem;
    margin-top: 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
    text-transform: capitalize;
    text-align: center;
}

.main-characters .card img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
}

.main-characters .card h3 {
    margin: 2rem 0 1rem;
    font-size: 2rem;
}

.main-characters .card h3,
.main-characters .card .nickname,
.main-characters .card .occupation {
    font-weight: bold;
}

.main-characters .card .nickname,
.main-characters .card .occupation {
    color: var(--color-secondary);
    font-size: 1.5rem;
}

.main-characters .card h4 {
    margin-bottom: 1rem;
}

.main-characters .card span {
    margin-bottom: 1rem;
    line-height: 30px;
    font-size: 1.5rem;
}

.where-to-watch {
    text-align: center;
}

.where-to-watch p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.where-to-watch .watch {
    display: inline-block;
    background-color: #4ca66e;
    padding: 1.5rem 3rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--color-quaternary);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: var(--font-primary);
    font-weight: bold;
    transition: 200ms all;
}

.where-to-watch .watch:hover {
    filter: brightness(1.5);
}

.footer {
    margin-top: 2rem;
}

.footer .contact {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-secondary);
    padding: 1rem 0;
}

.footer .contact li .social img,
.footer .contact li .social svg {
    width: 2rem;
}

.footer .author {
    background-color: var(--color-primary);
    padding: 0.5rem 0;
    text-align: center;
}

.footer .author a {
    text-decoration: none;
    color: var(--color-secondary);
}

@media screen and (max-width: 900px) {
    .header nav {
        padding: 1rem 0;
    }

    .header nav:hover {
        background-color: var(--color-primary);
    }

    .header nav ul.menu li a {
        display: none;
    }

    .header nav .hamburger {
        display: inline-block;
        position: absolute;
        top: 27%;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
        z-index: 1;
    }

    .header nav .menu-mobile {
        display: none;
        transition: 200ms all;
    }

    .header nav .menu-mobile.show {
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: var(--color-ternary);
        width: 100%;
        opacity: 0.9;
    }

    .header nav .menu-mobile nav {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .header nav .menu-mobile nav ul.menu {
        flex-direction: column;
        align-items: center;
    }

    .header nav .menu-mobile nav ul.menu li a {
        display: block;
        color: var(--color-ternary);
    }
    
    .header nav .menu-mobile nav ul.menu li a:hover {
        color: var(--color-secondary);
    }

    .header nav .menu-mobile nav ul.menu li a:hover .chemical-element {
        color: var(--color-ternary);
    }
}